<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <style>.tin{
        height:100px;
        width :1000px;
        text-align: center;

        background-color: #ffffff00;

        color:#ffffff00;
    }
    </style>
    <!--- basic page needs
   ================================================== -->
    <meta charset="utf-8">
    <title>ROSETTA.AI</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
   ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
   ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
	================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- header
   ================================================== -->
   <header id="header" class="row">


	   	<nav id="header-nav-wrap">
			<ul class="header-main-nav">
				<li class="current" style="padding-right: 450px;"><h1><a class="smoothscroll"  href="#home" title="home">ROSETTA.AI</a></h1></a></li>

			</ul>


		</nav>

		<a class="header-menu-toggle" href="#"><span>ROSETTA.AI</span></a>

   </header> <!-- /header -->


   <!-- home
   ================================================== -->
   <section id="home" data-parallax="scroll" data-image-src="images/wall2.png" data-natural-width=3000 data-natural-height=2000>

        <div class="overlay"></div>
        <div class="home-content">

            <div class="row contents">
                <div class="home-content-left">

                    <h3 data-aos="fade-up">Welcome to Rosetta.Ai</h3>

                    <h1 data-aos="fade-up">
                        Protect Your Sensitive Info, <br>
                        Without Any Hassle <br>

                    </h1>

                    <h4 style="border-style: solid; padding-top: 30px; padding-right: 30px; padding-bottom: 30px; padding-left: 30px;">
                        <%= out %>

                    </h4>


                    <!-- <form action="/form"   method="POST">
                     <input class="tin" type="text"  name = "firstname" >
                     <button type="submit" name="button">SUBMIT</button>

                  </form> -->
                </div>


            </div>

        </div> <!-- end home-content -->



    </section> <!-- end home -->




    <!-- footer
    ================================================== -->


    <div id="preloader">
    	<div id="loader"></div>
    </div>

    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script src="../index.js"></script>

</body>

</html>
